@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;500;600;700&display=swap');
 
/* colors used on the site */
:root {
  /* page background color */
  --light-grey: #EDEDF6;
  --lighter-grey: #ddddea;
  /* header h1, h2 and color of text in header and banner */
  --dark-grey: #31343D;
  /* color of navigation text, h3, background for labels, borders */
  --light-blue: #92CCCD;
  /* text color in main section and footer, paragraph about me */
  --medium-grey: #435877;
  /* color for labels in main section: h4, .description, .contactdetails */
  --grey: #31333E;
  /* highlight color for projects, and in selection, darker color #60A7A8 or lighter one #B5E8E8 */
  --selected: #60A7A8;
  /* color to highligh images */
  --lighten: yellow;
}

::selection {
  background-color: var(--selected);
  color: var(--dark-grey);
}

html {
  background-color: var(--light-grey);
}
/* Element selectors */

/* Setup background color and font for tab content */
.tab-container {
  font-family: 'Source+Serif+Pro', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--medium-grey);
  background-color: var(--light-grey);
  padding: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; 
  /* height: 100vh */
}

/* Design header which includes header label with name, and navigation bar */
.navbar {
  background-image: url("../img/navbar.jpg");
  background-color: var(--dark-grey);   
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: var(--light-blue);
  padding: 1rem 3rem 0 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.link {
  color: var(--dark-grey);
  padding: 0 0.5rem;
}

.navbar .links {
  margin-right: 2rem;
}

.navbar button {
  background: none;
  color: var(--light-blue);
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  opacity: 1
}

button.active {
  border-radius: 2px;
  border-color: var(--light-blue);
  border-style: groove;
}

.navbar button:hover {
  color: var(--selected);
  cursor: pointer;
}  

.contact-button {
  background-color: var(--medium-grey) !important;
  color: var(--light-blue) !important;
  border: none !important;
  padding: 0.5rem 2rem !important;
  font-size: 1.3rem !important;
  cursor: pointer !important;
  margin-top: 1rem;
}
.contact-button:hover {
  color: var(--selected) !important;
  cursor: pointer !important;
}
/* rendering project cards within projects */
.projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-around;
  flex: 0 0 50rem;
}

.project {
  padding: 0.5rem;
}

.project-header {
  /* align-self: flex-end; */
  position: absolute;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--light-blue);
  opacity: 0.7;
  top: 1rem;
}

.project-card {
  border: 0.5rem solid var(--light-blue);
  display: flex;
  background-color: var(--light-blue);
  align-items: center;
}

.project img:hover,
.img-project:hover 
{
  filter: brightness(1);
  filter: contrast(200%);
  filter: invert(75%);
  filter: opacity(25%);
  filter: saturate(30%);
  filter: sepia(60%);
}

.img-project {
  padding: 0.25rem;
  background-color: var(--light-blue);
  /* border: 1px solid var(--selected); */
  max-width: 100%;
  height: auto;
}

.card-body {
  background-color: var(--lighter-grey);
  border: 1px solid var(--light-blue);
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-color: var(--medium-grey);
  border-top-style:solid;
}

.footer-link {
  margin: 1rem;
  font-size: 2rem;
  color: var(--medium-grey)
}

.footer-link:hover {
  color: var(--selected)
}

.tab-header {
  color: var(--dark-grey);
}

.avatar {
  height: 20px;
}

.custom-button {
  color: var(--medium-grey) !important;
  border-color: var(--medium-grey) !important;
}

.custom-button:hover {
  background-color: var(--medium-grey) !important;
  border-color: var(--medium-grey) !important;
  color: var(--light-blue) !important;
}

h4 {
  padding-top: 1rem;
}

.aboutMe {
  padding: 2rem;
}


@media only screen and (max-width: 600px) {
  .navbar button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  button.active {
    border-radius: 1px;
  }

  .navbar {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  
  .navbar h1 {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }

  .aboutMe {
    padding: 2rem 0 0 0;
  }

}